<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict/>
	<key>UserProfile</key>
	<dict>
		<key>id</key>
		<string>тут только константы в файле можно</string>
		<key>token</key>
		<string>хотел писать сюда токен для отладки, но писать в Boundle нелбзя - только в директорию док. а ее тут не увидешь</string>
	</dict>
	<key>API</key>
	<dict>
		<key>host</key>
		<string>https://test.vhospice.org</string>
		<key>host_</key>
		<string>https://fmh.vhospice.org</string>
	</dict>
</dict>
</plist>
