<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>administrator</key>
	<dict>
		<key>Description</key>
		<string>Администратор системы</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
	<key>medicalWorker</key>
	<dict>
		<key>Description</key>
		<string>Медработник</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
	<key>volunteer</key>
	<dict>
		<key>Description</key>
		<string>Волонтер</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
	<key>volunteerCoordinator</key>
	<dict>
		<key>Description</key>
		<string>Координатор волонтеров</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
	<key>patient</key>
	<dict>
		<key>Description</key>
		<string>Пациент</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
	<key>guest</key>
	<dict>
		<key>Description</key>
		<string>Гость</string>
		<key>Access</key>
		<dict>
			<key>mainScreen</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
